<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moudle.project.tts.tts_moudle_address_api">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="tts.moudle.addressapi.activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="tts.moudle.addressapi.activity.AddressNewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
